/* css reset */

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

/* Main CSS */
@font-face {
  font-family: 'BrownFont';
  src: url('./assets/fonts/Brown-Bold.ttf')
      format('truetype'),
    url('./assets/fonts/BrownExtraBold-Regular.ttf')
      format('truetype'),
    url('./assets/fonts/BrownLight-Regular.ttf')
      format('truetype');
  font-weight: 100 1000;
}

@font-face {
  font-family: 'Sofia-Pro';
  src: url('./assets/fonts/SofiaProBlack.ttf') format('truetype'),
    url('./assets/fonts/SofiaProBlack.eot'),
    url('./assets/fonts/SofiaProBlack.eot') format('embedded-opentype'),
      url('./assets/fonts/SofiaProBlack.woff2') format('woff2'),
      url('./assets/fonts/SofiaProBlack.woff') format('woff');
  font-weight: 100 1000;
}

:root {
  /* custom properties, css variable */
  --font-fallback: "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "sans-serif";
}

.wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  background-color: hsla(174, 62%, 47%, 0.04);
  justify-content: space-around;
}

.card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 40%;
  height: max-content;
  background: hsla(0, 0%, 100%, 1);
  border-radius: 6px;
  box-shadow: 0px 4px 50px 0px rgba(4, 8, 19, 0.10);
  margin-top: 75px;
  margin-bottom: 75px
}

header.nav {
  margin-top: 10.5%;
  width: 33%;
  height: 33%;
}

/* Style for the header logo in the project */
header img {
  width: 15%;
  height: 30%;
  margin-block-end: 25px;
}

/* general style for all h1 elements in the project */
h1 {
color: hsla(174, 100%, 2%, 1);
font-family: "BrownFont", var(--font-fallback);
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 125%;
letter-spacing: -0.8px;
}

/* general style for all p elements in the project */
p {
  height: 31%;
  color: hsla(0, 0%, 45%, 1);
  font-family: "BrownFont", var(--font-fallback);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px/*156.25% */;
  margin-block-start: 2%;
  margin-block-end: 0px;
}

/* hide the header content specific to mobile view */
.smallscreen {
  display: none;
}

.card .fields{
  display: flex;
  flex-direction: row;
}

.fmfld {
  display: flex;
  flex-direction: column;
  margin-inline-start: 1.7em;
  margin-inline-end: 1.7em;
  width: 100%; /* container for the form fields, set to 100% so the the fields in it is responsive */
}

.fields:first-child {
  margin-block-start: 40px;
}

label {
  width: 100%; 
  height: 14px;
  margin-block-start: 5%;
  margin-block-end: 10px;
  color: hsla(208, 96%, 10%, 1);
  font-family: "Sofia-Pro", var(--font-fallback);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.1px;
}

input, select {
  width: 100%; /* set to 100% for responsiveness */
  height: 2.5rem;
  border: 1px solid hsla(0, 0%, 94%, 1);
  border-radius: 2px;
  font-family: "Sofia-Pro", var(--font-fallback);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.2px;
  color: hsla(0, 0%, 45%, 1);
  padding: 10px 20px;
  
}

input:focus {
  border: 3px solid hsla(174, 62%, 47%, 0.6);
  outline: none;
}

select:focus-visible {
  outline: 3px solid hsla(174, 62%, 47%, 0.6);
}

.fmfld select#alvl, input#pswd, input#reg {
  width: 100%;
  height: 2.5rem;
}

/* Style the register button */
input#reg {
  margin-block-start: 2%;
  background-color: hsla(174, 62%, 47%, 1);
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.10);
  color: hsla(0, 0%, 100%, 1);
  font-family: "Sofia-Pro";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.2px;
}

/* General style for links */
a {
color: hsla(174, 62%, 47%, 1);
text-decoration-line: underline;
}

/* Styling the terms of use and policy warning */
p#btn, p#terms {
  font-family: "Sofia-Pro", var(--font-fallback) ;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px;
  text-align: center;
  margin-block-end: 5%;
}

/* styling for medium sized devices */
@media (max-width: 900px) {
  .wrapper {
    flex-direction: column;
    justify-content: flex-start;
  }

  header.nav {
    margin-inline-start: 10%;
    margin-top: 7.5%;
    width: 85%;
  }

  .card {
    width: 85%;
    margin-inline-start: 10%;
    margin-block-start: 55px;
  }
}

/* Styling for small screen devices */
@media (max-width: 599px) {
  .wrapper {
    flex-direction: column;
  }

  p#largescreen {
    display: none;
  }

  .smallscreen {
    display: block;
  }

  header.nav {
    margin-inline-start: 8%;
    margin-top: 7.5%;
    width: 85%;
    height: 28%;
  }

  .card {
    margin-block-start: 15px;
    margin-inline-start: 8%;
    height: 95%;
    margin-block-end: 0px;
  }

  .card .fields {
    flex-direction: column;
    margin-inline-start: 0%;
    margin-inline-end: 7%;
    margin-block-end: 18px;
  }

  .fmfld {
    margin-inline-start: 7%;
    padding-right: 6%;
  }

  .fields:first-child {
    margin-block-start: 20px;
}

  .input#reg {
    padding-bottom: 30px;
  }

  p#btn {
    display: none;
  }

  p#terms {
    font-size: 12px;
    margin-inline-start: 25px;
  }

  footer.fmfld {
    width: 87%;
  }
}